@import "../../styles/converter";

.button {
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  outline-color: var(--primary-color);
  padding: to-rem(5 10);
}

.icon {
  padding-right: to-rem(5);
}
