$palette--white: hsl(0deg 0% 100%);
$palette--dark-blue-tint1: hsl(209deg 23% 22%);
$palette--dark-blue-tint2: hsl(207deg 26% 17%);
$palette--dark-blue-tint3: hsl(200deg 15% 8%);
$palette--light-gray-tint1: hsl(0deg 0% 98%);
$palette--light-gray-tint2: hsl(0deg 0% 52%);
