@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/typography";

.container {
  font-size: to-rem(14);
}

.content__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    flex-direction: row;
  }

  & > * {
    margin-bottom: to-rem(25);

    @include md {
      margin-bottom: to-rem(50);
    }
  }
}

.search_result {
  &__count {
    font-size: to-rem(14);
    font-weight: $font-weight-bold;
    margin-bottom: to-rem(10);
  }

  &__region {
    text-transform: capitalize;
  }
}

.countries__wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @include xl {
    .countries__wrapper {
      grid-gap: 3rem;
      width: 100%;
    }
  }
}
