@use "../../styles/breakpoint";
@use "../../styles/converter";
@use "../../styles/typography";

.container {
  font-size: converter.to-rem(14);
}

.content__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint.md {
    flex-direction: row;
  }

  & > * {
    margin-bottom: converter.to-rem(25);

    @include breakpoint.md {
      margin-bottom: converter.to-rem(50);
    }
  }
}

.search_result {
  &__count {
    font-size: converter.to-rem(14);
    font-weight: typography.$font-weight-bold;
    margin-bottom: converter.to-rem(10);
  }

  &__region {
    text-transform: capitalize;
  }
}

.results_container {
  display: grid;
  gap: converter.to-rem(32);
  grid-template-columns: 3fr 2fr;
  margin: 0 auto;
}

.countries__wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @include breakpoint.xl {
    .countries__wrapper {
      grid-gap: 3rem;
      width: 100%;
    }
  }
}

.map__wrapper {
  bottom: converter.to-rem(10);
  position: sticky;
  top: converter.to-rem(80);
  z-index: 1;
}
