@use "../../styles/breakpoint";
@use "../../styles/converter";
@use "../../styles/typography";

.container {
  font-size: converter.to-rem(14);
}

.content__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint.md {
    flex-direction: row;
  }

  & > * {
    margin-bottom: converter.to-rem(25);

    @include breakpoint.md {
      margin-bottom: converter.to-rem(50);
    }
  }
}
