@use "../../styles/shared";
@use "../../styles/breakpoint";
@use "../../styles/converter";
@use "../../styles/typography";

.container {
  @include typography.shadow;

  background-color: var(--primary-color);
  border-radius: converter.to-rem(3);
  padding: converter.to-rem(5 10);

  @include breakpoint.md {
    width: 20%;
  }
}

.select {
  appearance: none;
  background: var(--caret) no-repeat var(--primary-color);
  background-position: center right;
  background-size: 10px;
  border: none;
  color: var(--input-color);
  cursor: pointer;
  line-height: 14px;
  margin: 0;
  padding: converter.to-rem(10);
  -webkit-padding-end: converter.to-rem(20);
  -moz-padding-end: converter.to-rem(20);
  -webkit-padding-start: converter.to-rem(2);
  -moz-padding-start: converter.to-rem(2);
  width: 100%;
}
