@use "../../styles/shared";
@use "../../styles/colors";
@use "../../styles/converter";
@use "../../styles/typography";

.container {
  @include typography.shadow;

  background-color: var(--primary-color);
  border-radius: converter.to-rem(8);
  color: var(--font-color);
  word-wrap: break-word;
}

.image {
  border-top-left-radius: converter.to-rem(8);
  border-top-right-radius: converter.to-rem(8);
  box-shadow: 0 1px 1px var(--shadow);
  display: block;
  height: converter.to-rem(220);
  object-fit: cover;
  width: 100%;
}

.details {
  border-top: 1px solid colors.$palette--light-gray-tint3;
  padding: converter.to-rem(30);
}

.heading {
  font-weight: typography.$font-weight-bolder;
  margin-bottom: converter.to-rem(10);
}

.info {
  display: flex;
  margin: 0;

  &__title {
    font-weight: typography.$font-weight-bold;
  }
}
