@import "../../styles/shared";

.header {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  font-weight: $font-weight-bolder;
  height: to-rem(80px);
  justify-content: space-between;
  padding: 0 to-rem(30px);
  position: sticky;
  top: 0;
  z-index: 2;
}

.theme_switch {
  padding-left: to-rem(8px);

  &__wrapper {
    align-items: center;
    display: flex;
  }
}
