@use "../../styles/shared";
@use "../../styles/breakpoint";
@use "../../styles/converter";
@use "../../styles/typography";

.header {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  font-weight: typography.$font-weight-bolder;
  height: converter.to-rem(80);
  justify-content: space-between;
  padding: 0 converter.to-rem(20);
  position: sticky;
  top: 0;
  z-index: 2;

  @include breakpoint.sm {
    padding: converter.to-rem(30);
  }
}

.logo {
  display: inline-block;
}

.theme_switch {
  padding: converter.to-rem(20);
}
