@import "../../styles/shared";

.header {
  align-items: center;
  background-color: $palette--white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav {
  font-weight: $font-weight-bolder;
}

.theme_switch {
  padding-left: to-rem(8px);

  &__wrapper {
    align-items: center;
    display: flex;
  }
}
