@use "styles/shared";
@use "styles/breakpoint";
@use "styles/colors";
@use "styles/converter";

.container {
  min-height: 100vh;
  position: relative;
}

.main-content {
  margin: 0 auto;
  max-width: 1400px;
  padding: converter.to-rem(25);

  @include breakpoint.md {
    padding: converter.to-rem(50);
  }
}

.skip-to-main-content {
  background: colors.$palette--red;
  color: colors.$palette--white;
  left: converter.to-rem(-999);
  padding: converter.to-rem(5);
  position: absolute;
  top: converter.to-rem(-50);
  transition: top 1s ease-out;
  z-index: -999;

  &:focus {
    left: 0;
    top: 0;
    z-index: 999;
  }
}
