@import "./styles/shared";

.container {
  min-height: 100vh;
  position: relative;
}

.main-content {
  padding: 30px;
}

.skip-to-main-content {
  background: $palette--red;
  color: $palette--white;
  left: -999px;
  padding: 5px;
  position: absolute;
  top: -50px;
  transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: -999;

  &:focus {
    left: 0;
    top: 0;
    z-index: 999;
  }
}
